<div class="merried-information">
    <div class="merried-information-who-when mb-5 mt-2">
      <div class="menu d-inline-block" (click)="openNav()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div class="d-inline-block">
        <a>Slub Karoliny i Sebastiana<br>który odębdzie się<br>12.06.2020r 
        </a>
      </div>
    </div>
    <footer class="merried-information-reminder mt-4">
      <a>Prosimy o potwierdzenie obecnosci do dnia</a>
    </footer>
  </div>