<div class="page-wrapper" id="page-wrapper">
  <!-- SIDEBAR MENU -->
  <app-sidebar-menu></app-sidebar-menu>
  <!-- END SIDEBAR MENU -->
  <div class="page-container">
    <!-- HEADER -->
    <header class="header-container">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-merried-information></app-merried-information>
          </div>
        </div> 
      </div>  
    </header>  
    <!-- END HEADER -->
    <router-outlet></router-outlet>
    
  </div>
</div>

<footer class="page-footer">
  <p>Author: Sebastian Żelazny </p>
</footer>

