<mat-sidenav-container  class="example-sidenav-container" autosize>
  <mat-sidenav #sidenav (keydown.escape)="hide()" class="example-sidenav" mode="side" opened="true" disableClose>
    <mat-nav-list class="dashboard">
      <a mat-list-item (click)="toggleActive($event);show()">
        <mat-icon mat-list-icon >account_circle</mat-icon>
        <p matLine *ngIf="service.isExpanded">Name</p>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item (click)="toggleActive($event);show()">
          <mat-icon mat-list-icon>inbox</mat-icon>
          <p matLine *ngIf="service.isExpanded">Inbox</p>
      </a>
      <a mat-list-item (click)="toggleActive($event);show()">
          <mat-icon mat-list-icon>star</mat-icon>
          <p matLine *ngIf="service.isExpanded">Starred</p>
      </a>
      <a mat-list-item (click)="toggleActive($event);show()">
          <mat-icon mat-list-icon>drafts</mat-icon>
          <p matLine *ngIf="service.isExpanded">Drafts</p>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item (click)="toggleActive($event);show()">
          <mat-icon mat-list-icon>mail</mat-icon>
          <p matLine *ngIf="service.isExpanded">All Mail</p>
      </a>
      <a mat-list-item (click)="toggleActive($event);show()">
          <mat-icon mat-list-icon>delete</mat-icon>
          <p matLine *ngIf="service.isExpanded">Trash</p>
      </a>
      <a mat-list-item (click)="toggleActive($event);show()">
          <mat-icon mat-list-icon>warning</mat-icon>
          <p matLine *ngIf="service.isExpanded">Spam</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
</mat-sidenav-container>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->