.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(51, 159, 163, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  #drawer.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
  