.mat-toolbar {
    opacity: 0.9;
    background: #e51282;
    color: white;
  }

.example-toolbar {
    z-index: 2;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  