<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row mr-0 ml-0">
                <div class="col-12 information-wrapper my-2 ml">
                    <div class="col-12 heading-info">
                        <p>Przydatne informacje</p>
                        <hr>
                    </div>
                    <div class="col-12 important-information">
                        <div class="col-12 text-center bus-information-heading">
                            <p>Informacje o busach</p>
                        </div>
                        <div class="col-12 bus-information">
                            <div class="col-6 bus-information-bus-1 d-inline-block">
                                <div class="col-12 bus-route-nam">
                                    <p>
                                        bus 1
                                    </p>
                                </div>
                                <div class="col-12 bus-route-map">
                                    <p>
                                        mapa busa
                                    </p>
                                </div>
                                <div class="col-12 bus-route-info">
                                    <p>
                                        Informacje na teamt trasy i przewidywanych odjazdach
                                    </p>
                                </div>
                            </div>
                            <div class="col-6 bus-information-bus-2 d-inline-block">
                                <div class="col-12 bus-route-nam">
                                    <p>
                                        bus 2
                                    </p>
                                </div>
                                <div class="col-12 bus-route-map">
                                    <p>
                                        mapa busa
                                    </p>
                                </div>
                                <div class="col-12 bus-route-info">
                                    <p>
                                        Informacje na teamt trasy i przewidywanych odjazdach
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center rooms-rent-heading">
                            <p>Informacje o najbliszszych pokojach</p>
                        </div>
                        <div class="col-12 text-center rooms-rent-map">
                            <p>Mapa z moclegami</p>

                        </div>
                    </div>
            </div>
            </div>
        </div>
    </div>      
</div>
